@import "assets/styles/utilities/variables";

@import "assets/styles/layout/nav";
@import "assets/styles/layout/footer.scss";


@import "assets/styles/components/buttons.scss";

@import "assets/styles/base/typography.scss";

@import "assets/styles/pages/home.scss";
@import "assets/styles/pages/services";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: $light    
}

