* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #20c4cb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #20c4cb;
}
body .body__container {
  background-color: #E2DADB;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
}
body .body__container > .body__header {
  color: #20c4cb;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
body .body__container > .body__subheader {
  color: #2E282A;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}