* {
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  color: #DE51C0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

ul {
  padding: 0;
}

.important-info {
  color: #20c4cb;
  font-weight: bold;
  font-size: 22px;
}