
.nav {
    background-color: $dark;
    .nav__container {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;
    }
    .nav__dropdown {

    }
}