.footer {
  background-color: #20c4cb;
  color: #FCFBFD;
}
.footer .footer__container {
  margin: 0 10%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer__container .footer__info {
  text-align: center;
}
.footer .footer__container .footer__links {
  text-align: center;
}
.footer .footer__container .footer__info ul, .footer .footer__container .footer__links ul {
  padding: 0;
}
.footer .footer__container .footer__info ul, .footer .footer__container .footer__links ul {
  list-style-type: none;
}
.footer p {
  text-align: center;
}