@import "variables.scss";

.footer {
    background-color: $primary-color;
    color: $tertiary-color;
    .footer__container {
        margin: 0 25%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer_info {
            text-align: left;
        }
        .footer__links {
            text-align: right;
        }
        .footer__info ul, .footer__links ul{
            padding-top: 1rem;
        }
        .footer__info ul, .footer__links ul{
            list-style-type: none;
        }
    }
    p {
        text-align: center;
    }
}