@import "variables.scss";

* {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    color: $title-color;
    text-align: center;
    font-size: 36px;
    margin-top: 2rem;
    font-family: 'Raleway', sans-serif;
}