.hero {
  text-align: left;
  position: relative;
  color: #2E282A;
}
.hero img {
  width: 100%;
}
.hero h3 {
  color: #20c4cb;
}
.hero .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .center .primary-btn {
  width: 70%;
}

.offers {
  border-top: 10px solid #DE51C0;
  border-bottom: 10px solid #DE51C0;
}

.services {
  margin-top: 2rem;
  text-align: center;
}
.services button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.services .services__container {
  margin-top: rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .services__container > .services__header {
  text-align: center;
  margin: 0 10% 1rem 10%;
}
.services .services__container > .services__box {
  background-color: #2E282A;
  color: #FCFBFD;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  box-shadow: 0px 0px 20px #2E282A;
}

.buttons {
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information .information__container h2 {
  margin-top: 5rem;
}
.information .information__container p {
  margin: 0 2rem;
  text-align: center;
}

.beforeafter {
  margin-top: 5rem;
}
.beforeafter > .beforeafter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  column-gap: 1rem;
  row-gap: 3rem;
}
.beforeafter > .beforeafter__container > .beforeafter__img {
  border-radius: 1rem;
  height: 300px;
  width: 300px;
  background-color: #2E282A;
  box-shadow: 0px 0px 20px #2E282A;
}

@media screen and (min-width: 992px) {
  .beforeafter .beforeafter__container {
    display: flex;
    flex-direction: row;
  }

  .information .information__container p {
    padding: 0 10%;
  }

  .hero {
    padding: 0 20%;
  }

  .services .services__container {
    flex-direction: row;
  }

  .buttons {
    flex-direction: row;
    column-gap: 1rem;
  }
}